#card-stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.port-card {
    width: 40vw;
    height: 53vh;
    overflow: hidden;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .port-card {
        width: 95%;
    }
}

@media screen and (max-width: 767px) {
    .port-card {
        width: 100%;
    }

    .card-row {
        flex-direction: column;
    }
}

/* pseudo-elements for image layering */
.port-card::before,
.port-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 0.9s ease-in-out;
    z-index: 0;
}

/* base image visible */
.port-card::before {
    opacity: 1;
}

/* hover image hidden by default */
.port-card::after {
    opacity: 0;
}

/* onhover fade to after image */
.port-card:hover::after {
    opacity: 1;
}

/* ensure text appears above the images */
.port-card .card-text-link {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
}

/* .card-text-link{

} */

/* corp lifestyle*/
#corporate-lifestyle::before {
    background-image: url('assets/images/corplife1.webp');
}

#corporate-lifestyle::after {
    background-image: url('assets/images/corplifehover.webp');
}

/* products */
#products::before {
    background-image: url('assets/images/products1.webp');
}

#products::after {
    background-image: url('assets/images/productshover.webp');
}

/* headshots */
#headshots::before {
    background-image: url('assets/images/headshots1.webp');
}

#headshots::after {
    background-image: url('assets/images/headshotshover.webp');
}

/* modeling */
#modeling::before {
    background-image: url('assets/images/modeling1.webp');
}

#modeling::after {
    background-image: url('assets/images/modelinghover.webp');
}

/* fitness */
#fitness::before {
    background-image: url('assets/images/fitness1.webp');
}

#fitness::after {
    background-image: url('assets/images/fitnesshover.webp');
}

/* editorial */
#editorial::before {
    background-image: url('assets/images/editorial1.webp');
}

#editorial::after {
    background-image: url('assets/images/editorialhover.webp');
}

/* birthday */
#birthday::before {
    background-image: url('assets/images/birthday1.webp');
}

#birthday::after {
    background-image: url('assets/images/birthdayhover.webp');
}